# === DATA ===
data/*
!data/**/*.dvc
!data/**/.gitignore

# === AIRFLOW ===
airflow/logs/
airflow/config/
airflow/plugins/
airflow/__pycache__/

# === DVC ===
.dvc/cache/
.dvc/tmp/

# === MODELS PESADOS ===
07_model_output/*
!07_model_output/*.dvc

# === NOTEBOOK CHECKPOINTS ===
.ipynb_checkpoints/

# === DOCKER ===
*.tar
*.img
__pycache__/
