# ============================================================
# 🧠 GITIGNORE - Proyecto Kedro + Airflow + Docker + DVC
# ============================================================

# Ignorar todos los datos por defecto
data/*
# Permitir los archivos de seguimiento DVC
!data/*.dvc
!data/**/.gitignore
!data/.gitignore

# ============================================================
# 🔒 Entornos virtuales y dependencias
# ============================================================
venv/
.env/
.venv/
env/
ENV/

# ============================================================
# ⚙️ Archivos temporales y de caché
# ============================================================
*.log
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/
.ipynb_checkpoints/

# ============================================================
# 📦 Archivos de configuración local y build
# ============================================================
conf/local/
docs/build/
build/
dist/
.cache/
.DS_Store
*.egg-info/

# ============================================================
# 🐳 Docker y Airflow
# ============================================================
airflow/logs/
airflow/plugins/__pycache__/
airflow/__pycache__/
*.pid

# ============================================================
# 🔁 DVC y outputs generados
# ============================================================
.dvc/cache/
.dvc/tmp/
