# Ignorar todos los datos por defecto
data/*

# Pero permitir los .dvc de seguimiento
!data/*.dvc
!data/**/.gitignore
!data/.gitignore

conf/local/
*.log
.ipynb_checkpoints/
__pycache__/
*.pyc
.pytest_cache/
docs/build/
